body{
    margin:0px;
}
.container{
    max-width: 1000px;
    margin: auto;
}
.navbar{
    background-color: #252525;
    padding-bottom: 10px;
    padding-top: 10px;
}
.navbar .logo{
    width: 150px;
}
.banner {
    background-image: url(https://images.unsplash.com/photo-1650657550895-9355e8662367?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1178&q=80);
    height: 80vh;
    background-size: cover;
    background-position: center;
    padding-top: 40vh;
}
.banner h1, .banner p {
    color: #fff;
    font-family: sans-serif;
}
.banner h1 span {
    color: orange;
}
.banner a{
    border: 3px solid orange;
    color: white;
    background-color: orange;
    border-radius: 10px;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 20px;
    padding: 10px 15px;
    display: inline-block;
}